{% if form.message %}
    {% set icon_map = { 'success':'check', 'error':'times', 'warning':'exclamation' } %}
    {% set message = form.inline_errors and form.messages ? "FORM.VALIDATION_FAIL"|t : form.message %}
    <div class="alert alert-{{ form.status }}">
        <span class="icon"><i class="fa fa-{{ icon_map[form.status] }}"></i></span>
        {{ message }}
    </div>
{% endif %}

<div id="form-result"></div>

<script>
$(document).ready(function(){
    var form = $('#contact-form');
    form.submit(function(e) {
        // prevent form submission
        e.preventDefault();
        console.log(form.attr('action'))

        // submit the form via Ajax
        $.ajax({
            url: form.attr('action'),
            type: form.attr('method'),
            dataType: 'html',
            data: form.serialize(),
            success: function(result) {
                // Inject the result in the HTML
                $('#form-result').html(result);
            }
        });
    });
});
</script>
