/**
 * Header Styles
 * (Relevant JavaScript: "/user/themes/sathyaram/src/js/custom/header.js")
 * Copyright 2018 Sathya Ram
 */

 .logo {
    position: fixed;
    width: 100px;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 12;
    opacity:0;
    transition: all 300ms ease;
    animation: 1s appear 3s ease forwards;

    img {
      width: 100%;
    }

    // sm breakpoint
    @media (max-width: $breakpoint-sm-max) {
      width: 80px;
      top: 10px;
    }
  }

// First slide
header {
  position: relative;
  overflow: hidden;
  z-index: 10;
  background: $header-bg-color;

  // The background image and gradient underlays
  &::before,
  &::after {
    display: block;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &::before {
    opacity: $header-image-opacity;
    background-image: $header-image;
    background-position: center center;
  }
  &::after {
    opacity: $header-grad-opacity;
    background: $header-grad;
    background-position: top center;
  }

  @media (max-width: $breakpoint-sm-max) {
    margin:0 !important;
    width:100vw;
  }

  // Logo at the top
  

  // Wrapper for the social icons, title and subtitle
  .content {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    z-index: 10;
  }

  // The social icons
  nav {
    padding-bottom: 45px;
    display:flex;
    flex-direction:row;

    // sm breakpoint
    @media (max-width: $breakpoint-sm-max) {
      padding-bottom: 35px;
    }

    a {
      display: inline-block;
      margin: 0 10px;
      padding: 5px 6px;
      border-radius: 50%;
      width:36px;
      height:36px;
      display:flex;
      align-items: center;
      justify-content: center;
      transform: scale(1) $transfix;
      transition: all 150ms ease;
      color: $header-icon-color;
      text-shadow:0 0 7px white;

      .fa {
        font-size: $header-icon-size;
      }

      &:hover {
        transform: scale(1.3) $transfix;

        &:first-child {
          background: radial-gradient(circle at 33% 100%,#fed373 4%,#f15245 30%,#d92e7f 62%,#9b36b7 85%,#515ecf);
        }

        &:nth-child(2) {
          background:#e83e80;
        }

        &:nth-child(3) {
          background: linear-gradient(to right, rgba(0,99,220,1) 0%,rgba(0,99,220,1) 50%,rgba(255,0,132,1) 51%,rgba(255,0,132,1) 100%);
        }

        &:nth-child(4) {
          background: rgb(24, 24, 24);
        }

        &:last-child {
          background:#552775;
        }
      }


    }
  }

  // Main title
  h1 {
    width: 100%;
    padding:0 10px;
    color: $header-h1-color;
    text-align: center;
    text-transform: uppercase;
    font-family: $header-h1-font;
    font-size: $header-h1-size;
    font-weight: 200;
    letter-spacing: 2px;
    text-shadow: $header-h1-shadow;
    transform: $header-skew translateY(0px);
    animation-name: title-hover;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    // sm breakpoint
    @media (max-width: $breakpoint-sm-max) {
      font-size: ($header-h1-size * 0.8);
    }
    // xs breakpoint
    @media (max-width: $breakpoint-xs-max) {
      font-size: ($header-h1-size * 0.42);
    }
  }

  // Subtitle
  h2 {
    width: 100%;
    color: $header-h2-color;
    font-family: $header-h2-font;
    font-size: $header-h2-size;
    line-height: 1.32;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    text-shadow: $header-h2-shadow;
    letter-spacing: 2px;
    transform: $header-skew;

    // sm breakpoint
    @media (max-width: $breakpoint-sm-max) {
      font-size: ($header-h2-size * 0.888888);
    }
    // xs breakpoint
    @media (max-width: $breakpoint-xs-max) {
      font-size: ($header-h2-size * 0.577777);
    }
  }

  //~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  // Space/Stars/Galaxy

  // Position them all absolutely at full height/width
  .space,
  .stars {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }
  // The .space wrapper, containing all space elements in the header
  .space {
    z-index: 10;

    &:before {
      content: "";
      position: absolute;
      height: 0;
      bottom: 0;
      right: 0;
      border-style: solid;
      border-width: 0 0 50px 50vw;
      border-color: transparent transparent white transparent;
    }

    &:after {
      content: "";
      position:absolute;
      width: 0;
      height: 0;
      bottom: 0;
      border-style: solid;
      border-width: 50px 0 0 50vw;
      border-color: transparent transparent transparent white;
    }

  }


  // The normal stars moving from bottom to top
  .stars {
    z-index: 11;
    // The stars themselves - some properties are deliberately
    // omitted because they are set randomly in the JavaScript:
    //   drawStars()@/user/themes/sathyaram/src/js/custom/header.js
    div {
      position: absolute;
      border-radius: 50%;
      background: $header-star-background;
      animation-name: star-travel;
      animation-timing-function: $header-star-easing;
      animation-iteration-count: infinite;
      animation-play-state: paused;
      animation-fill-mode: both;
      box-shadow: $header-star-shadow;
      opacity: $header-star-opacity;
    }
  }
}
