/**
 * Sass Variables
 * Copyright 2018 Sathya Ram
 */

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Colors

// General
$color-black:    #000;
$color-white:    #fff;
$color-midnight: #222639;
$color-slate:    #303030;
$color-gray:     #f2f2f2;
$color-drupal:   #0678be;
$color-red:      #f3443f;
$color-purple:   #947e92;
$color-pink:     #f06292;
$color-teal:     #26a69a;
$color-blue:     #29b6f6;

// Social
$color-twitter:   #4f95fd;
$color-instagram: #45719a;
$color-linkedin:  #2079b5;
$color-facebook:  #405797;
$color-youtube:   #c12e2f;

// Forms
$color-error:         #B74324;
$color-error-light:   #F69176;
$color-success:       #1A8247;
$color-success-light: #54B07C;

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Typography

// Fonts
$font-title:  'Fredoka One', sans-serif;
$font-body:   'Jura', sans-serif;
$font-script: 'Jura', cursive;
$font-icon:   FontAwesome;

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Breakpoints & Containers

// Minimum widths for each breakpoint
$breakpoint-xs-min:    0px;
$breakpoint-sm-min:  768px;
$breakpoint-md-min:  992px;
$breakpoint-lg-min: 1280px;

// Maximum widths for each breakpoint
$breakpoint-xs-max: ($breakpoint-sm-min - 1);
$breakpoint-sm-max: ($breakpoint-md-min - 1);
$breakpoint-md-max: ($breakpoint-lg-min - 1);

// Container widths
$container-sm:  700px;
$container-md:  910px;
$container-lg: 1200px;

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Miscellaneous

// Common transition settings
$trans:    .3s ease;
$transalt: .3s ease-in-out;

// When transitioning the transform property of an element, it can cause
// unintended blurring/movement. Setting this at the same time eliminates it.
// - https://stackoverflow.com/q/15464055/3389737
// - Usage:
//     element {
//       transform: someOtherTransform(50%) $transfix;
//     }
$transfix: translateZ(0);

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Header Section

// The background image and gradient overlay
//
//  BOTTOM - bg-color
//  MIDDLE - image
//     TOP - gradient
$header-bg-color:      #000;
$header-image:         none;
$header-image-opacity: 0;
$header-grad:          radial-gradient(ellipse at bottom, #051c56 0%, black 100%);
$header-grad-opacity:  1;
// - REMOVED (Ref)
// $header-image:         url('../images/header.jpg');
// $header-grad:          radial-gradient(ellipse at bottom, #0c1d3a 0%, #360b3a 100%);

// The social icons
$header-icon-color:       #fff;
$header-icon-color-hover: $color-blue;
$header-icon-size:        24px;

// The skew style applied to the header's title
$header-skew: skewY(-5deg);

// The main title (SATHYA RAM)
$header-h1-font:   'aquatico', sans-serif;
$header-h1-color:  #fff;
$header-h1-size:   100px;
$header-h1-shadow: 0 0 5px #fff, 0 0 20px #60c0f0;

// The subtitle (Designer, Developer, Photographer)
$header-h2-font:   'aquatico', sans-serif;
$header-h2-color:  #fff;
$header-h2-size:   18px;
$header-h2-shadow: 0px 0px 28px #fff;

// Normal stars (travelling bottom to top)
$header-star-background: #fff;
$header-star-opacity:    0.85;
$header-star-easing:     linear;
// You can use em units for this as font-size is set to the width/height
$header-star-shadow:
  0 0 10em .5em rgba(#fff, .3),
  0 0 2em 1px rgba(#60c0f0, .3);

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Website/Graphic/Photography Sections

$section-title-font: $font-title;

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Photography Section

$photo-filter-color:        #333;
$photo-filter-color-hover:  #947e92;
$photo-filter-color-active: #ff9b4c;

// Grid gutter at each breakpoint
$photo-grid-gutter-xs:  6px;
$photo-grid-gutter-sm: 10px;
$photo-grid-gutter-md: 14px;
$photo-grid-gutter-lg: 18px;

// Number of columns at each breakpoint
$photo-grid-cols-xs: 2;
$photo-grid-cols-sm: 3;
$photo-grid-cols-md: 3;
$photo-grid-cols-lg: 4;

// Actual column width at each breakpoint
// (shouldn't need to change - just use `photo-grid-cols-*` above)
$photo-grid-width-xs: percentage((1 / $photo-grid-cols-xs));
$photo-grid-width-sm: percentage((1 / $photo-grid-cols-sm));
$photo-grid-width-md: percentage((1 / $photo-grid-cols-md));
$photo-grid-width-lg: percentage((1 / $photo-grid-cols-lg));
