/**
 * Clearfix for floats
 * Sass Functions/Mixins
 * Copyright 2018 Sathya Ram
 */

@mixin clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}
