<footer id="contact">
    <div class="container">
        <h2>Contact me</h2>
        {% include "forms/form.html.twig" %}
        <div class="copyright">&copy; 2018 Sathya Ram</div>
    </div>
</footer>
