<footer id="contact">
    <div class="container">
        <h2>{{ page.header.title }}</h2>
        <a href="mailto:{{ page.header.public_email }}?subject=Let's%20work%20together!" class="p-email">
            {{ page.header.public_email }}
        </a>
        <div class="footer-links">
            <a target="_blank" href="/user/themes/sathyaram/images/resume/SathyaRam_Resume2018.pdf">Resume</a> // 
            <a target="_blank" href="https://www.linkedin.com/in/sathya-ram/">LinkedIn</a>      
        </div>
        <div class="copyright">{{ page.header.copyright }}</div>
    </div>
</footer>
