<footer id="contact">
    <div class="container">
        <h2>{{ page.header.title }}</h2>
        <a href="mailto:{{ page.header.public_email }}?subject=Let's%20work%20together!" class="p-email">
            {{ page.header.public_email }}
        </a>
        <div class="copyright">{{ page.header.copyright }}</div>
    </div>
</footer>
