<section id="{{ page.header.section_slug }}">

    <h1>Photography</h1>

    <ul>
        <li>Featured</li>
        <li>Space</li>
        <li>Nature</li>
        <li>Places</li>
        <li>People</li>
        <li>Backyard Wedding</li>
        <li>Humans of Lehigh</li>
    </ul>

</section>
